<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" media="screen and (max-width: 970px )" href="../static/responsivewidth1.css">
    <link rel="stylesheet" media="screen and (max-width: 410px )" href="../static/responsivewidth2.css">
    <link rel="stylesheet" media="screen and (max-width: 340px )" href="../static/responsivewidth3.css">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <span id="a">HungerFree</span><span id="b">Eatmore</span>
        </div>
        <ul>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#">Place order</a></li>
            <li class="item"><a href="#">About us</a></li>
            <li class="item"><a href="#">Contact us</a></li>
        </ul>
    </nav>

    <section id="home">
        <div class="search">
            <input type="search" name="search" id="search" placeholder="Explore">
            <button class="btn1">search</button>
        </div>
        <h1 class="h-primary">Welcome to HungerFree</h1>
        <h3 class="h-primary">Eat more</h3>
        <p class="p-primary">Find your way to your meal hear. Get all you want just by clicking the button below.</p>
        <button class="btn" type="button">Order the taste</button>
    </section>

    <section class="services-container">
        <h1 class="h-primary center">Choose your meal of the day</h1>
        <div id="services">
            <div class="box">
                <img src="../img/pizza.png" alt="">
                <h2 class="h-secendory center">Itallian</h2>
                <button class="btn1">View menu</button>
            </div>
            <div class="box">
                <img src="../img/north.png" alt="">
                <h2 class="h-secendory center">North indian</h2>
                <button class="btn1">View menu</button>
            </div>
            <div class="box">
                <img src="../img/ham.png" alt="">
                <h2 class="h-secendory center">American</h2>
                <button class="btn1">View menu</button>
            </div>
        </div>
    </section>
<hr>

    <section class="sponsors-container">
        <h1 class="h-primary center">Our Sponsors</h1>
        <div id="sponsors">
            <div class="partners" id="s1">
                <img src="../img/sponsor1.png" alt="">
                <P class="text">Pizza Hut is an American multinational restaurant chain and international franchise founded in 1958 in Wichita, Kansas by Dan and Frank Carney. It provides pizza and other Italian-American dishes, including pasta, side dishes and desserts.</P>
            </div>
            <div class="partners" id="s2">
                <P class="text">KFC is an American fast food restaurant chain headquartered in Louisville, Kentucky that specializes in fried chicken. It is the world's second-largest restaurant chain after McDonald's, with 22,621 locations globally in 150 countries as of December 2019. The chain is a subsidiary of Yum!</P>
                <img src="../img/sponsor2.png" alt="">
            </div>
            <div class="partners" id="s3">
                <img src="../img/sponsor3.png" alt="">
                <P class="text">McDonald's is an American fast food company, founded in 1940 as a restaurant operated by Richard and Maurice McDonald, in San Bernardino, California, United States.</P>
            </div>
            <div class="partners" id="s4">
                <P class="text">Domino's Pizza, Inc. is an American multinational pizza restaurant chain founded in 1960 and led by CEO Richard Allison. The corporation is Delaware domiciled and headquartered at the Domino's Farms Office Park in Ann Arbor, Michigan.</P>
                <img src="../img/sponsor4.png" alt="">
            </div>
        </div>
    </section>
    <hr>
    <section class="contact-section">
        <div class="form">
            <form action="#">
                <h1 class="h-primary center">Contact here</h1>
                <input type="text" class="contact" placeholder="Enter your name">
                <input type="email" class="contact" placeholder="Enter your Email">
                <textarea name="" id="" cols="30" rows="10" class="contact" placeholder="Explain your query here"></textarea>
                <button type="submit" class="btn sub-btn">Submit</button>
            </form>
        </div>
    </section>

    <footer class="footer">
        <div class="foot">
        <p class="foot-para">© 2021-till now | DanceAcademy Inc. pvt. ltd. | All rights reserved - <a href="#">Terms & conditions</a> - <a href="#">Contact us</a> - <a href="#">About us</a> - <a href="#">Our sponsors</a></p>
        <p class="foot-para"><a href="#">Facebook</a> . <a href="#">Linkedin</a> . <a href="#">Instagram</a> . <a href="#">Twitter</p>
        <p class="foot-para"><a href="#">Back to top</a></p>
    </div>
    </footer>        
</body>
</html>